<section class="section section-alt" id="key-dates">
  <div class="container narrow">
    <h2 class="section-title">Key dates</h2>
    <table class="key-dates-table">
      <thead>
        <tr><th scope="col">Milestone</th><th scope="col">Date</th></tr>
      </thead>
      <tbody>
        {{ range site.Data.keyDates.items }}
        <tr {{ if .highlight }}class="row-highlight"{{ end }}>
          <td>{{ .label }}</td>
          <td>{{ .date }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</section>
